{% extends "base.html" %}
{% load tailwind_filters %}
{% block content %}
    <div class="flex flex-col justify-start items-center h-[100vh]">
        <h1 class="text-3xl md:text-5xl font-bold tracking-wide text-secondary-color-1">Welcome Back</h1>
        <form method="post" class="p-4">
            {% csrf_token %}
            {{ form | crispy }}
            <button type="submit" 
            class="mt-8 w-full h-10 rounded-full bg-secondary-color-1 text-neutral-color"
            >Log In</button>
        </form>
    </div>
{% endblock content %}
