{% extends "base.html" %}
{% load static %}
{% block content %}
    {% if payment_status == 'success' %}
        <div class="flex flex-col justify-center items-center">
            <div class="w-52 h-52 rounded-full flex flex-row justify-center items-center bg-success-color">
                    <div class="w-40 h-40">
                        <img src="{% static 'images/successful_payment.svg'%}" alt="">
                    </div>
            </div>
            <h1 class="text-3xl sm:5xl lg:8xl mt-4 uppercase text-success-color font-bold tracking-wider">Thank You !</h1>
            <p class="text-black-color text-xl mt-2 text-center">Payment Done Successfully</p>

            <a href="{% url 'home' %}">
                <button
                    class="w-56 h-14 mt-12 p-2 text-bold text-neutral-color bg-success-color"
                >Take me back to home page</button>
            </a>
        </div>
    {% else %}
        <div class="flex flex-col justify-center items-center">
            <div class="w-52 h-52 rounded-full flex flex-row justify-center items-center bg-cancel-color">
                    <div class="w-40 h-40">
                        <img src="{% static 'images/unsuccessful_payment.svg'%}" alt="">
                    </div>
            </div>
            <h1 class="text-3xl sm:5xl lg:8xl mt-4 uppercase text-cancel-color font-bold tracking-wider">Sorry</h1>
            <p class="text-black-color text-xl mt-2 text-center">
                Something went wrong. Please Try Again.
            </p>

            <a href="{% url 'cart' %}">
                <button
                    class="w-56 h-14 mt-12 p-2 text-bold text-neutral-color bg-cancel-color"
                >Back to cart</button>
            </a>
        </div>
    {% endif %}
{% endblock content %}
