{% extends "base.html" %}
{% load static %}

{% block content %}
{% for p in product %}

    <div class="flex flex-row flex-wrap justify-center md:justify-start gap-2 ">
        <!-- image div -->
        <div class="lg:w-[600px] lg:h-[600] ">
            <img src="{{ p.image.url }}" alt="{{p.title}}-image"
                class=""
            >
        </div>
        <div class="w-full lg:w-[450px]">
            <div class="mt-4 p-4">
                <h1 class="text-3xl md:text-5xl font-merri">{{p.title}}</h1>
                <p class="mt-8 font-roboto">{{p.description}}</p>
                <p class="mt-12 font-roboto text-2xl md:text-4xl text-black-color">${{p.price}}</p>
            </div>
            <a href="{% url 'add_to_cart' p.id %}">
            <button class="bg-secondary-color-1 w-full h-16 font-roboto text-neutral-color font-bold rounded-full hover:bg-secondary-color-2">Add to cart</button>
            </a>
        </div>
    </div>
{% endfor %}

{% endblock content %}
