{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
    <title>Django Tailwind</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% tailwind_css %}
    </head>
    <body class="h-[1000vh]">
        <nav>
            <div class="flex gap-4 items-center">
            <div class="btn w-10 h-10 bg-[#ed9384] flex justify-center items-center rounded-full text-white cursor-pointer">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12H12m-8.25 5.25h16.5" />
                </svg>
            </div>
            <h1 class="text-[#d68a7c]">Teak Decor</h1>
            </div>
        </nav>
        <aside class="w-20 h-full border border-black">
            sidebar
        </aside>
    </body>
    <script>
        let btn = document.querySelector('.btn')
        btn.addEventListener('click', ()=>{
            console.log('working')
        })
    </script>
</html>
