{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="flex flex-row flex-wrap justify-center gap-4">
        {% for name in category_names %}
            <a href="{% url 'category' name.id %}"
                class="border-2 px-2 py-1 hover:border-gray-500 cursor-pointer"
            >{{name}}</a>
        {% endfor %}
    </div>

    {% if not category_names %}
            <a href="{% url 'products' %}"
                class="px-3 py-2 bg-black hover:bg-slate-500 text-white"
            ><i class='bx bx-arrow-back'></i>Back</a>
    {% endif %}

    <div class="mt-4 flex flex-wrap gap-4 justify-center">
        {% for product  in products %}
        <!-- Product card  -->
        <div class="w-64 h-[21.5rem] p-2 border-2 border-gray-300 hover:border-gray-500 cursor-pointer transition-all">
            <!-- Product image section  -->
            <div class="w-52 h-48 rounded-lg m-auto">
                <!-- Product image  -->
                <img
                src="{{ product.image.url }}"
                alt="rosegold image"
                class="object-fit w-60 h-52 bg-white"
                >
                </div>

                <!-- Product title  -->
                <h2 class="text-lg mt-4 px-2">{{ product.title }}</h2>
                <!-- Card botton section  -->
                <div class="mt-2 px-2 flex flex-col gap-1">
                    <!-- Product Price  -->
                    <span class="text-2xl font-bold">${{ product.price }}</span>
                    <!-- Add to cart button  -->
                    <a href="{% url 'add_to_cart' product.id %}">
                    <button class="w-full h-10 text-center bg-black text-white">
                        Add to cart
                    </button>
                    </a>
                </div>
        </div>
        {% endfor %}
    </div>
{% endblock content %}
