{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="flex flex-row flex-wrap justify-center gap-4">
        {% for name in category_names %}
            <a href="{% url 'category' name.id %}"
                class="border-2 px-2 py-1 text-black-color border-primary-color-2 hover:border-primary-color-3 cursor-pointer"
            >{{name}}</a>
        {% endfor %}
    </div>

    {% if not category_names %}
            <a href="{% url 'products' %}"
                class="px-3 py-2 bg-secondary-color-1 hover:bg-secondary-color-2 text-neutral-color"
            ><i class='bx bx-arrow-back'> </i>Back</a>
    {% endif %}

    <div class="mt-4 flex flex-wrap gap-4 justify-center">
        {% for product  in products %}
        <!-- Product card  -->
        <a href="{% url 'detail_page' product.id %}">
        <div class="w-64 h-[22rem] p-2 border-2 border-primary-color-2 hover:border-primary-color-3 cursor-pointer transition-all">
            <!-- Product image section  -->
            <div class="w-52 h-52 rounded-lg m-auto">
                <!-- Product image  -->
                <img
                src="{{ product.imageURL }}"
                alt="{{product.title}}-image"
                class="object-cover w-60 h-52"
                >
                </div>

                <!-- Product title  -->
                <h2 class="text-lg mt-4 px-2 text-primary-color-1">{{ product.title }}</h2>
                <!-- Card botton section  -->
                <div class="mt-8 px-2 flex flex-row justify-between items-center">
                    <!-- Product Price  -->
                    <span class="text-2xl font-bold text-black-color">${{ product.price }}</span>
                    <!-- Add to cart button  -->
                    <a href="{% url 'add_to_cart' product.id %}" class="text-secondary-color-1">
                        <i class='bx bxs-plus-circle bx-md '></i>
                    </a>
                </div>
        </div>
        </a>
        {% endfor %}
    </div>
{% endblock content %}
